In [16]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [8]:
catalog

{'companies': "kedro_datasets.pandas.csv_dataset.CSVDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
              '- University of '
              "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/01_raw/companies.csv'), "
              "protocol='file', load_args={}, save_args={'index': False})",
 'reviews': "kedro_datasets.pandas.csv_dataset.CSVDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
            '- University of '
            "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/01_raw/reviews.csv'), "
            "protocol='file', load_args={}, save_args={'index': False})",
 'shuttles': "kedro_datasets.pandas.excel_dataset.ExcelDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
             '- University of '
             "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/01_raw/shuttles.xlsx'), "
             "protocol='file', load_args={'engine': 'openpyxl'}, "
             "save_args={'index': False}, writer_args={'engine': 'openpyxl'})",
 'preprocessed_companies': "kedro_datasets.pandas.parquet_dataset.ParquetDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                           '- University of '
                           "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/02_intermediate/preprocessed_companies.parquet'), "
                           "protocol='file', load_args={}, save_args={})",
 'preprocessed_shuttles': "kedro_datasets.pandas.parquet_dataset.ParquetDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                          '- University of '
                          "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/02_intermediate/preprocessed_shuttles.parquet'), "
                          "protocol='file', load_args={}, save_args={})",
 'model_input_table': "kedro_datasets.pandas.parquet_dataset.ParquetDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                      '- University of '
                      "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/03_primary/model_input_table.parquet'), "
                      "protocol='file', load_args={}, save_args={})",
 'regressor': "kedro_datasets.pickle.pickle_dataset.PickleDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
              '- University of '
              "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/06_models/regressor.pickle'), "
              "backend='pickle', protocol='file', load_args={}, save_args={}, "
              "version=Version(load=None, save='2025-07-17T19.12.53.826Z'))",
 'shuttle_passenger_capacity_plot_exp': "kedro_datasets.plotly.plotly_dataset.PlotlyDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                                        '- University of '
                                        "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/08_reporting/shuttle_passenger_capacity_plot_exp.json'), "
                                        "protocol='file', load_args={}, "
                                        'save_args={}, '
                                        'version=Version(load=None, '
                                        "save='2025-07-17T19.12.53.826Z'), "
                                        "plotly_args={'type': 'bar', 'fig': "
                                        "{'x': 'shuttle_type', 'y': "
                                        "'passenger_capacity', 'orientation': "
                                        "'h'}, 'layout': {'xaxis_title': "
                                        "'Shuttles', 'yaxis_title': 'Average "
                                        "passenger capacity', 'title': "
                                        "'Shuttle Passenger capacity'}})",
 'shuttle_passenger_capacity_plot_go': "kedro_datasets.plotly.json_dataset.JSONDataset(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                                       '- University of '
                                       "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/08_reporting/shuttle_passenger_capacity_plot_go.json'), "
                                       "protocol='file', load_args={}, "
                                       'save_args={}, '
                                       'version=Version(load=None, '
                                       "save='2025-07-17T19.12.53.826Z'))",
 'dummy_confusion_matrix': "kedro_datasets.matplotlib.matplotlib_writer.MatplotlibWriter(filepath=PurePosixPath('C:/Users/drysd/OneDrive "
                           '- University of '
                           "Bath/Documents/September_July_2025/Projects_portfolio/Kedro/spaceflights/data/08_reporting/dummy_confusion_matrix.png'), "
                           "protocol='file', save_args={}, "
                           'version=Version(load=None, '
                           "save='2025-07-17T19.12.53.826Z'))",
 'parameters': "kedro.io.memory_dataset.MemoryDataset(data='<dict>')",
 'params:model_options': "kedro.io.memory_dataset.MemoryDataset(data='<dict>')",
 'params:model_options.test_size': "kedro.io.memory_dataset.MemoryDataset(data='<float>')",
 'params:model_options.random_state': "kedro.io.memory_dataset.MemoryDataset(data='<int>')",
 'params:model_options.features': "kedro.io.memory_dataset.MemoryDataset(data='<list>')"}

In [17]:
companies = catalog.load('companies')
companies.head()

[07/17/25 21:21:52] INFO     Loading data from companies (CSVDataset)...                        ]8;id=783573;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=288852;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py#403\403]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [18]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved         object
dtype: object

In [22]:
companies['iata_approved'] = companies['iata_approved'] == 't'
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,False
1,46728,100%,NaN,1.0,False
2,34618,38%,Isle of Man,1.0,False
3,28619,100%,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

In [25]:
companies['company_rating'] = companies['company_rating'].str.replace("%", "").astype(float)

In [26]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100.0,Isle of Man,1.0,False
1,46728,100.0,NaN,1.0,False
2,34618,38.0,Isle of Man,1.0,False
3,28619,100.0,Bosnia and Herzegovina,1.0,False
4,8240,NaN,Chile,1.0,True

In [28]:
companies.dtypes

id                     int64
company_rating       float64
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [29]:
shuttles = catalog.load('shuttles')

[07/17/25 21:29:40] INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=274067;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=135520;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py#403\403]8;;\

In [30]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648

In [31]:
shuttles.iloc[:, 5:]

,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5.0,10,strict,5.0,f,f,"$4,718.0",26648
...,...,...,...,...,...,...,...,...
15526,1.0,2,flexible,1.0,t,f,"$2,040.0",5816
15527,1.0,1,strict,1.0,t,f,"$1,260.0",19010
15528,2.0,4,flexible,2.0,t,f,"$4,107.0",6654
15529,1.0,2,flexible,1.0,t,f,"$2,170.0",27363
15530,0.0,2,moderate,2.0,t,f,"$1,455.0",12542

In [32]:
shuttles['d_check_complete'] = shuttles['d_check_complete'] == 't'
shuttles['moon_clearance_complete'] = shuttles['moon_clearance_complete'] =='t'

In [39]:
shuttles['price'] = shuttles['price'].str.replace(r'[$,]', '', regex=True).astype(float)

In [40]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,False,1715.0,32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,False,3405.0,14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,False,1806.0,47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,False,1676.0,26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,False,4718.0,26648

In [12]:
catalog.load('reviews')

[07/17/25 20:15:58] INFO     Loading data from reviews (CSVDataset)...                          ]8;id=838577;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=316401;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py#403\403]8;;\

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29
...,...,...,...,...,...,...,...,...,...,...
15526,63513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15527,44668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15528,4368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15529,21738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15530,72645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [14]:
catalog.load('shuttles') # don't have to specify what filetype or path!!

[07/17/25 20:16:38] INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=664163;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=439690;file://C:\Users\drysd\anaconda3\envs\kedro\lib\site-packages\kedro\io\data_catalog.py#403\403]8;;\

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15526,63513,Micronesia,Type V5,Plasma,ThetaBase Services,1.0,2,flexible,1.0,t,f,"$2,040.0",5816
15527,44668,Rwanda,Type F5,Quantum,ThetaBase Services,1.0,1,strict,1.0,t,f,"$1,260.0",19010
15528,4368,Barbados,Type V5,Quantum,ThetaBase Services,2.0,4,flexible,2.0,t,f,"$4,107.0",6654
15529,21738,Uzbekistan,Type V5,Plasma,ThetaBase Services,1.0,2,flexible,1.0,t,f,"$2,170.0",27363
15530,72645,Malta,Type F5,Quantum,ThetaBase Services,0.0,2,moderate,2.0,t,f,"$1,455.0",12542