### Aims
* clean
* visualise
* analyse with plotly dashboard

In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [90]:
df = pd.read_csv('audible_uncleaned.csv')
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [91]:
print(df.shape)
print(df.columns)
print(df.info())

(87489, 8)
Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB
None

In [92]:
df.name.duplicated().sum()  # Check for duplicate rows

4722

### Thoughts
* Author has 'Written by' at the beginning and then no space between first name and surname
* narrator has similar problem
* time can be converted to a 24 hour system i think
* Language - check syntax as unique values
* stars column is  mess - seperate into rating and number of ratings. 'not yet rated' (na) if substantial then remove??
* price - convert dtype
* why are there so many names duplicated?

#### Author  column

In [93]:
# author column
print(df.author.head(20))
df.author.tail(20)

0      Writtenby:GeronimoStilton
1          Writtenby:RickRiordan
2           Writtenby:JeffKinney
3          Writtenby:RickRiordan
4          Writtenby:RickRiordan
5       Writtenby:SuzanneCollins
6         Writtenby:WinterMorgan
7          Writtenby:RickRiordan
8      Writtenby:MaryPopeOsborne
9          Writtenby:RickRiordan
10         Writtenby:RickRiordan
11     Writtenby:MaryPopeOsborne
12     Writtenby:MaryPopeOsborne
13         Writtenby:RickRiordan
14       Writtenby:PhilipPullman
15     Writtenby:GeronimoStilton
16     Writtenby:MaryPopeOsborne
17    Writtenby:ShannonMessenger
18     Writtenby:MaryPopeOsborne
19    Writtenby:ShannonMessenger
Name: author, dtype: object

87469                   Writtenby:MarkTwain
87470               Writtenby:LarryMcMurtry
87471                  Writtenby:JeffShaara
87472              Writtenby:LaurenceSterne
87473                  Writtenby:JeffShaara
87474              Writtenby:StephenBrennan
87475              Writtenby:ElisabethEaves
87476              Writtenby:ChelseaHandler
87477            Writtenby:PeterMatthiessen
87478                Writtenby:EdithWharton
87479        Writtenby:MattSmith,KarenSmith
87480                Writtenby:ColinThubron
87481                Writtenby:ColinThubron
87482    Writtenby:DonWatson,HamishHamilton
87483             Writtenby:RogerW.Thompson
87484                Writtenby:ChrisStewart
87485               Writtenby:StephenO'Shea
87486                   Writtenby:MarkTwain
87487              Writtenby:LaurenceSterne
87488               Writtenby:MarkKurlansky
Name: author, dtype: object

In [94]:
print(df.author.value_counts())
df.narrator.value_counts()

author
Writtenby:矢島雅弘,石橋遊                                              874
Writtenby:SmartReading                                          405
Writtenby:中西貴之,BJ                                               311
Writtenby:div.                                                  274
Writtenby:OnlineStudioProductions                               212
                                                               ...
Writtenby:AlessandroGoglio,AndreaGoldstein                        1
Writtenby:DianaThomas,StaceyBoyle                                 1
Writtenby:KarieWillyerd,BarbaraMistick,JosephGrenny-foreword      1
Writtenby:FrancesKay                                              1
Writtenby:StephenO'Shea                                           1
Name: count, Length: 48374, dtype: int64

narrator
Narratedby:anonymous                      1034
Narratedby:矢島雅弘,石橋遊                        874
Narratedby:Intuitive                       465
Narratedby:uncredited                      326
Narratedby:中西貴之,BJ                         311
                                          ...
Narratedby:HannahB.                          1
Narratedby:DavidSimonM.D.,DeepakChopra       1
Narratedby:CorinneZupko                      1
Narratedby:SandraIngerman                    1
Narratedby:ChrisStewart                      1
Name: count, Length: 29717, dtype: int64

In [95]:
# get rid of wrritenby
df['author'] = df.author.str.replace('Writtenby:', '', regex=False)
# potential problems with commas and multiple authors and that names are one string without surnames seperated.

#### Narrator column

In [96]:
# get rid of Narratedby
df['narrator'] = df.narrator.str.replace('Narratedby:', '', regex=False)
df.head()
# again potential problems with commas and multiple narrators and that names are one string without surnames seperated.

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

#### Time column
split intp hours and minutes columns and then do aggregate minutes (better for an aggregate plot.)

In [97]:
df.time
df['hours'] = df['time'].str.extract(r'(\d+)\s*hr') # regex formula to grab digits followed by hr
df['minutes'] = df['time'].str.extract(r'(\d+)\s*min')

df['hours'] = pd.to_numeric(df['hours'], errors='coerce').fillna(0).astype(int) # catches any mistakes in the regex and converts to int
df['minutes'] = pd.to_numeric(df['minutes'], errors='coerce').fillna(0).astype(int)
df.head()

,name,author,narrator,time,releasedate,language,stars,price,hours,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2,20
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13,8
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2,3
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11,16
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10,0

#### Release date column
* convert to datetime.

In [98]:
# first check consistent syntax
# Check if each row matches the pattern: 2 digits - 2 digits - 2 digits
df['date_syntax'] = df['releasedate'].str.match(r'^\d{2}-\d{2}-\d{2}$')
df['date_syntax'].value_counts() # all the same syntax

df['release_date'] = pd.to_datetime(df['releasedate'], format='%d-%m-%y', errors='coerce')  # Convert to datetime
df.drop(columns=['releasedate', 'date_syntax'], inplace=True)  # Drop the old column
df.head()  # Check the new datetime column

,name,author,narrator,time,language,stars,price,hours,minutes,release_date
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,English,5 out of 5 stars34 ratings,468.00,2,20,2008-08-04
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,English,4.5 out of 5 stars41 ratings,820.00,13,8,2018-05-01
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,English,4.5 out of 5 stars38 ratings,410.00,2,3,2020-11-06
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,English,4.5 out of 5 stars12 ratings,615.00,11,16,2021-10-05
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,English,4.5 out of 5 stars181 ratings,820.00,10,0,2010-01-13

#### language column
* check value counts and unique

In [99]:
print(df.language.value_counts())
df.language.unique()

language
English             61884
german               8295
spanish              3496
japanese             3167
italian              2694
french               2386
russian              1804
danish                935
portuguese            526
swedish               515
Hindi                 436
polish                224
finnish               197
dutch                 190
tamil                 161
catalan               153
mandarin_chinese       97
icelandic              52
romanian               50
hungarian              36
urdu                   34
afrikaans              28
czech                  23
turkish                20
greek                  18
arabic                 16
norwegian              16
galician               10
bulgarian               9
korean                  4
slovene                 4
hebrew                  2
basque                  2
telugu                  2
lithuanian              2
ukrainian               1
Name: count, dtype: int64

array(['English', 'Hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin_chinese', 'basque', 'korean',
       'arabic', 'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian',
       'telugu', 'lithuanian'], dtype=object)

* make all lower case
* change mandarin_chinese to just mandarin.

In [100]:
df['language'] = df.language.str.lower()  # make all lower case
df['language'] = df['language'].str.replace('mandarin_chinese', 'mandarin', regex=False)  # change mandarin_chinese to just mandarin
df.language.unique()  # check the unique values again

array(['english', 'hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin', 'basque', 'korean', 'arabic',
       'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian', 'telugu',
       'lithuanian'], dtype=object)

#### Name Column
* lots of repeat values

In [101]:
df.name.unique() # check the unique values in the name column
df.name.value_counts()  # check the value counts in the name column

name
The Art of War                                           20
Sterling Biographies                                     19
The Odyssey                                              16
Sterling Point Books                                     16
Hamlet                                                   15
                                                         ..
Resumen de Inteligencia artificial de Pablo Rodríguez     1
Resumen de La clave de la venta de Jeffrey Lipsius        1
SDGsが生み出す未来のビジネス（できるビジネス）                                 1
弱者のポジショニング戦略                                              1
Havana                                                    1
Name: count, Length: 82767, dtype: int64

In [102]:
# checkout all the rows with 'the art of war' in the name column
df[df.name.str.contains('the art of war', case=False, na=False)]
# different authors, narrators, prices - hmmmmm

,name,author,narrator,time,language,stars,price,hours,minutes,release_date
13379,Die Kunst des Krieges / The Art of War,SunTzu,JürgenFritsche,3 hrs and 12 mins,german,Not rated yet,300.00,3,12,2021-02-26
15112,The Art of War,SunTzu,PhillipJMather,1 hr and 8 mins,english,Not rated yet,333.00,1,8,2015-12-11
27341,Chanakya and the Art of War,RadhakrishnanPillai,AbhishekSharma,5 hrs and 11 mins,english,4.5 out of 5 stars71 ratings,879.00,5,11,2021-03-13
27377,The Art of War,SunTzu,AidanGillen,1 hr and 7 mins,english,4 out of 5 stars511 ratings,333.00,1,7,2015-03-31
27529,The Art of War for Women,Chin-NingChu,MargueriteGavin,5 hrs and 54 mins,english,5 out of 5 stars1 rating,586.00,5,54,2007-05-08
27977,The Art of War,SunTzu,MelFoster,1 hr and 23 mins,english,4 out of 5 stars4 ratings,333.00,1,23,2016-12-06
27995,The Art of War,SunTzu,DenmaTranslationGroup,3 hrs and 51 mins,english,5 out of 5 stars1 rating,501.00,3,51,2016-08-12
29508,The Art of War,SunTzu,AlecSand,1 hr and 46 mins,english,4 out of 5 stars4 ratings,268.00,1,46,2009-09-18
29673,The Art of War,SunTzu,"DonHagen,VictoriaGordon",6 hrs and 29 mins,english,3.5 out of 5 stars3 ratings,668.00,6,29,2011-09-22
29777,The Art of War,"ThomasCleary-translator,SunTzu",LloydJames,1 hr and 54 mins,english,5 out of 5 stars6 ratings,377.00,1,54,2018-04-03
30158,The Art of War,SunTzu,MikeBorris,1 hr and 48 mins,english,4 out of 5 stars1 rating,333.00,1,48,2011-11-01
30202,The Art of War for Small Business,BeckySheetz-Runkle,KarenSaltus,4 hrs and 54 mins,english,5 out of 5 stars1 rating,586.00,4,54,2014-06-11
38062,The Art of War: Three Complete Audiobook Set,SunTzu,"PeterBerkrot,MarlonBraccia,MikeVendetti",3 hrs and 40 mins,english,Not rated yet,501.00,3,40,2015-06-12
38116,The Art of War,"IntroductionbyStefanRudnicki,SunTzu","RonSilver,B.D.Wong",2 hrs and 15 mins,english,5 out of 5 stars1 rating,333.00,2,15,1999-12-16
38227,The Art of War,SunTzu,SethThompson,6 hrs and 35 mins,english,2 out of 5 stars2 ratings,258.00,6,35,2020-04-01
38355,The Art of War,SunTzu,GrainneRegan,1 hr and 9 mins,english,Not rated yet,65.00,1,9,2018-12-12
38779,The Art of War,SunTzu,KennethElliot,1 hr and 22 mins,english,4.5 out of 5 stars2 ratings,32.00,1,22,2020-03-04
38849,The Art of War,SunTzu,DanStrutzel,1 hr and 38 mins,english,Not rated yet,"1,003.00",1,38,2021-04-28
38961,The Art of War,SunTzu,GabraZackman,1 hr and 42 mins,english,Not rated yet,702.00,1,42,2020-01-07
39224,The Art of War,"LionelGilestranslator,SunTzu",DenisDaly,1 hr and 23 mins,english,Not rated yet,333.00,1,23,2017-07-31
40194,The Art of War [Blackstone Version],"translationbyJohnMinford,SunTzu","LornaRaver,RayPorter",12 hrs and 29 mins,english,3.5 out of 5 stars6 ratings,"1,003.00",12,29,2004-10-06
40227,The Art of War,SunTzu,JimDonaldson,1 hr and 13 mins,english,Not rated yet,333.00,1,13,2011-08-11
40238,El arte de la guerra [The Art of War],SunTzu,MaxGarzón,1 hr and 30 mins,spanish,Not rated yet,66.00,1,30,2022-01-07
40252,El Arte de la Guerra [The Art of War],SunTzu,ArmandoHernandez,2 hrs and 37 mins,spanish,Not rated yet,152.00,2,37,2021-11-18
40299,The Art of War,SunTzu,ElizabethAnneHarris,1 hr and 12 mins,english,Not rated yet,132.00,1,12,2021-07-23
40489,El arte de la guerra [The Art of War],SunTzu,YairMartinezQuezada,1 hr and 47 mins,spanish,Not rated yet,234.00,1,47,2021-02-03
41246,The Art of War,SunTzu,SimonVance,2 hrs and 6 mins,english,Not rated yet,456.00,2,6,2019-08-13
41467,"Strategy Masters: The Prince, The Art of War, ...","NiccolòMachiavelli,JuliusCaesar,SunTzu","SethThompson,RobertBrinkman",28 hrs and 40 mins,english,Not rated yet,586.00,28,40,2021-01-05
41545,The Art of War,SunTzu,MikeVendetti,1 hr and 12 mins,english,Not rated yet,286.00,1,12,2020-03-13
58925,Wealth and Wisdom Classics: Think and Grow Ric...,"NapoleonHill,WallaceD.Wattles,SunTzu","ErikSynnestvedt,KevinT.Noris,DonHagen,",18 hrs and 11 mins,english,5 out of 5 stars1 rating,703.00,18,11,2012-01-04
65687,The Art of War,SunTzu,PaulSpera,1 hr and 8 mins,english,Not rated yet,233.00,1,8,2018-02-21

#### Stars column
* Change not rated yet to na
* Then do a rating column and a number of ratings column

In [103]:
df['stars'] = df['stars'].replace("Not rated yet", np.nan)  # Change 'Not rated yet' to NaN
#check percentage of Nan in stars
print(df['stars'].isna().mean() * 100)  # Percentage of NaN values in the stars column
# remove stars column
df.drop(columns=['stars'], inplace=True)  # Drop the stars column
df.head()

82.77269142406473

,name,author,narrator,time,language,price,hours,minutes,release_date
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,english,468.00,2,20,2008-08-04
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,english,820.00,13,8,2018-05-01
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,english,410.00,2,3,2020-11-06
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,english,615.00,11,16,2021-10-05
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,english,820.00,10,0,2010-01-13